{% load static i18n wagtailcore_tags wagtailimages_tags %}

<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <a href="/{{ language_code }}/" title="Accueil">
                                <p class="fr-logo">
                                    République
                                    <br>Française
                                </p>
                            </a>
                        </div>

                    </div>
                    <div class="fr-header__service fr-p-0">
                        <a href="{{ root_page.url }}" title="Accueil - Société Numérique" style="display: flex;">
                            <div class="fr-header__service-title">
                                <p>
                                    <img src="{% static "img/logo-societe-numerique.h100.png" %}"
                                         srcset="{% static "img/logo-societe-numerique.h100.png" %},
                                                 {% static "img/logo-societe-numerique.h200.png" %} 2x"
                                         class="sonum-logo fr-responsive-img fr-ml-2w" alt=""/>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="fr-header__navbar">
                    <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="menu-modal" aria-haspopup="menu" id="menu-button" title="Menu">
                        Menu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="menu-modal" aria-labelledby="menu-button">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="menu-modal">{% translate "Fermer" %}</button>
            <div class="fr-header__menu-links">
            </div>
            {% include "components/navigation.html" %}
        </div>
    </div>
</header>
