{% load static i18n wagtailcore_tags %}


<div class="fr-follow fr-mt-16w">
    <div class="fr-container">
        <div class="fr-grid-row">
        {% if settings.home.NewsLetterSettings.newsLetter %}
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-follow__newsletter">
                    <div>
                        <h5 class="fr-h5 fr-follow__title">{% translate "Abonnez-vous à notre lettre d’information" %}</h5>
                    </div>
                    <div>
                        <a class="fr-btn" title="S‘abonner à notre lettre d’information - ouvre une nouvelle fenêtre" href="{{ settings.home.NewsLetterSettings.newsLetter }}" target="_blank">
                            {% translate "S'abonner" %}
                        </a>
                    </div>
                </div>
            </div>

            <div class="fr-col-12 fr-col-md-4" style="">
            {% else %}
            <div class="fr-col-12 fr-col-md-8" style="">
            {% endif %}
                <div class="fr-follow">
                    <p class="fr-h5 fr-mb-3v fr-mb-3v">
                        {% translate "Informez-vous sur le labo" %}
                    </p>
                    <a class="fr-btn" title="Le Labo - ouvre une nouvelle fenêtre" href="https://labo.societenumerique.gouv.fr/" target="_blank">
                        {% translate "S'informer" %}
                    </a>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-follow__social">
                    <p class="fr-h5 fr-mb-3v fr-mb-3v">
                        {% blocktrans %}Suivez-nous<br> sur les réseaux sociaux{% endblocktrans %}
                    </p>
                    <ul class="fr-links-group fr-links-group--lg">
                        {% if settings.home.SocialMediaSettings.facebook %}
                            <li>
                                <a class="fr-link--facebook fr-link" title="Mission Société numérique - ouvre une nouvelle fenêtre" href="{{ settings.home.SocialMediaSettings.facebook }}" target="_blank">facebook</a>
                            </li>
                        {% endif %}
                        {% if settings.home.SocialMediaSettings.twitter %}
                            <li>
                                <a class="fr-link--twitter fr-link" title="Mission Société numérique - ouvre une nouvelle fenêtre" href="{{ settings.home.SocialMediaSettings.twitter }}" target="_blank">twitter</a>
                            </li>
                        {% endif %}
                        {% if settings.home.SocialMediaSettings.instagram %}
                            <li>
                                <a class="fr-link--instagram fr-link" title="Mission Société numérique - ouvre une nouvelle fenêtre" href="{{ settings.home.SocialMediaSettings.instagram }}" target="_blank">instagram</a>
                            </li>
                        {% endif %}
                        {% if settings.home.SocialMediaSettings.linkedin %}
                            <li>
                                <a class="fr-link--linkedin fr-link" title="Société numérique : Présentation - ouvre une nouvelle fenêtre" href="{{ settings.home.SocialMediaSettings.linkedin }}" target="_blank">linkedin</a>
                            </li>
                        {% endif %}
                        {% if settings.home.SocialMediaSettings.youtube %}
                            <li>
                                <a class="fr-link--youtube fr-link" title="Mission Société numérique - ouvre une nouvelle fenêtre" href="{{ settings.home.SocialMediaSettings.youtube }}" target="_blank">youtube</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
