{% load static i18n wagtailcore_tags scheme_tags %}

<div id="top" class="fr-skiplinks">
    <nav class="fr-container" role="navigation" aria-label="{% translate "Accès rapide" %}">
        <ul class="fr-skiplinks__list">
            <li><a class="fr-link" href="#contenu">{% translate "Contenu" %}</a></li>
            <li><a class="fr-link" href="#header-navigation">{% translate "Menu" %}</a></li>
            <li><a class="fr-link" href="#footer">{% translate "Pied de page" %}</a></li>
        </ul>
    </nav>
</div>
