{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "components/dots.html" with height=36 class='fr-mb-3w' %}
    <div class="fr-container fr-my-8w">
        <h1 id="content-page-h1" class="fr-sr-only">{{ page.title }}</h1>
        {% include "components/free_body.html" with body=page.body %}
    </div>
{% endblock %}

{% block extra_js %}
<script>
  // hide page title if there is already a title
  if (document.getElementsByTagName('h1').length > 1) {
      document.getElementById('content-page-h1').style.display = 'none';
  }
</script>
{% endblock %}
