{% extends "base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags scheme_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container-header-over-dots-gradient">
        <div class="dots">
            {% include "components/dots.html" with height=400 gradient=True %}
        </div>
        <div class="fr-container fr-px-0 fr-px-md-2w">
            <div class="custom-blue-background fr-px-md-5w fr-p-2w fr-mt-md-6w fr-mt-0" style="display: flex; flex-direction: column; align-items: center;">
                <h1 class="fr-display-lg fr-mb-md-n4w" style="display: flex; flex-direction: column; align-items: center;">
                    <span style="background: var(--custom-green); color: white;" class="fr-mt-md-n4w fr-mb-1v fr-p-1w span-stylized-title">
                        {% translate "Construire ensemble" %}
                    </span>
                    <span style="background: white; color: var(--text-title-blue-france);" class="fr-my-1v fr-p-1w span-stylized-title">
                        {% translate "un numérique" %}
                    </span>
                    <span style="background: var(--custom-yellow); color: var(--text-title-blue-france);" class=" fr-mt-1v fr-p-1w span-stylized-title">
                        {% translate "d'intérêt général" %}
                    </span>
                </h1>
            </div>
        </div>
    </div>

    <div class="fr-container fr-my-8w">
        {% include "components/free_body.html" with body=page.body %}
    </div>
{% endblock %}
