{% extends "base.html" %}
{% load i18n %}


{% block title %}
{% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fr' %}
        Page non trouvée
    {% else %}
        Page not found
    {% endif %}
{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="fr-container">
    {% if LANGUAGE_CODE == 'fr'%}
        <h1>Page non trouvée</h1>

        <h2>Nous sommes désolés, la page demandée n'a pas été trouvée ou n'existe pas.</h2>
    {% else %}
        <h1>Page not found</h1>

        <h2>Sorry, this page could not be found.</h2>
    {% endif %}
</div>
{% endblock %}
